<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
>
  <head>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/4db3c59fd7.js"
      crossorigin="anonymous"
    ></script>


    <title>Wallet Management</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  </head>
  <body>
    <!-- create navigation bar ( header) -->
    <div th:replace="~{fragments/navbar :: navbar}"></div>    

    <br />
    <br />

    <div class="container">
      <h1>Wallet Manager</i></h1>
      Manage your income and expenses, easily.
      <span th:text="${firstName}"></span>
      <br />
      <br />
      <hr />
      <div sec:authorize="isAuthenticated()">
        <div class="container">
          <div class="row">
            <!-- Iterate over authenticated user's wallets -->
            <div th:each="wallet : ${authenticatedUserWallets}" class="col-md-6">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <div class="row">
                      <div class="col-xs-8">
                          <h3 class="panel-title" th:text="${wallet.walletName}"></h3>
                      </div>
                      <div class="col-xs-4 text-right">
                          <!-- Button to delete the wallet -->
                          <button type="button" class="btn btn-xs btn-danger" th:id="'deleteWalletButton-' + ${wallet.id}" th:attr="data-wallet-id=${wallet.id}"> X </button>
                        </div>
                  </div>
                </div>
                <div class="panel-body">
                  <table class="table table-striped">
                    <tbody>
                      <tr>
                        <th scope="row">Amount:</th>
                          <td><span th:text="${wallet.amount}"></span>
                          <span th:text="${wallet.currency}"></span></td>
                        </tr>
                        <tr>
                          <th scope="row">Notes:</th>
                            <td><span th:text="${wallet.notes}"></span></td>
                        </tr>
                    </tbody>
                  </table>

                  <!-- Display last transaction -->
                  <div class="panel panel-info">
                    <div class="panel-heading">
                      <div class="row">
                          <div class="col-sm-6">
                              <h3 class="panel-title">Last Transaction</h3>
                          </div>
                          <div class="col-sm-6">
                              <h3 class="panel-title text-right">
                                  <span th:if="${lastTransactions[wallet.id] != null}" th:text="${lastTransactions[wallet.id].income ? 'Income' : 'Expense'}" th:class="${lastTransactions[wallet.id] != null and lastTransactions[wallet.id].income ? 'text-success' : 'text-danger'}"></span>
                              </h3>
                          </div>
                      </div>
                  </div>
                    <div class="panel-body">
                      <div class="row">
                          <div class="col-sm-6">
                              <p th:if="${lastTransactions[wallet.id] != null}" class="amount-info">
                                  Amount: <span th:text="${lastTransactions[wallet.id].amount}"></span> <span th:text="${wallet.currency}"></span>
                              </p>
                          </div>
                          <div class="col-sm-6">
                              <p th:if="${lastTransactions[wallet.id] != null}" class="type-info text-right">
                                  Type: <span th:text="${lastTransactions[wallet.id].type}"></span>
                              </p>
                          </div>
                      </div>
                      <p th:if="${lastTransactions[wallet.id] == null}">
                          No transactions found.
                      </p>
                  </div>
                  
                  </div>
                </div>


                <!-- Buttons for income and expense -->
                <div class="panel-footer text-right">
                  <!-- Button to trigger income modal -->
                  <button type="button" class="btn btn-success" data-toggle="modal" th:data-target="'#incomeModal-' + ${wallet.id}">
                    Income
                  </button>
                  
                  <!-- Modal -->
                  <div class="modal fade" th:id="'incomeModal-' + ${wallet.id}" tabindex="-1" role="dialog" aria-labelledby="incomeModalTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">    
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          <h3 class="modal-title text-left" id="incomeModalTitle">Income entry</h3>
                        </div>
                        <div class="modal-body">
                          <form>
                            <div class="form-group row">
                              <label for="incomeAmount" class="col-sm-3 col-form-label">Amount:</label>
                              <div class="col-sm-9">
                                <input type="text" class="form-control" id="incomeAmount" name="incomeAmount" required>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="incomeType" class="col-sm-3 col-form-label">Type of Income:</label>
                              <div class="col-sm-9">
                                <select class="form-control" id="incomeType" name="incomeType">
                                  <option value="salary">Salary</option>
                                  <option value="bonus">Bonus</option>
                                  <option value="investment">Investment</option>
                                </select>
                              </div>
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary" th:id="'saveIncomeEntryButton-' + ${wallet.id}" th:attr="data-wallet-id=${wallet.id}">Save</button>
                        </div>
                      </div>
                    </div>
                  </div>





                  <!-- Button to trigger expense modal -->
                  <button type="button" class="btn btn-danger" data-toggle="modal" th:data-target="'#expenseModal-' + ${wallet.id}">
                    Expense
                  </button>
                  <!-- Modal -->
                  <div class="modal fade" th:id="'expenseModal-' + ${wallet.id}" tabindex="-1" role="dialog" aria-labelledby="expenseModalTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">                       
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          <h3 class="modal-title text-left" id="expenseModalTitle">Expense entry</h3>
                        </div>
                        <div class="modal-body">
                          <form>
                            <div class="form-group row">
                              <label for="expenseAmount" class="col-sm-3 col-form-label">Amount:</label>
                              <div class="col-sm-9">
                                <input type="text" class="form-control" id="expenseAmount" name="expenseAmount" required>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="expenseType" class="col-sm-3 col-form-label">Type of Income:</label>
                              <div class="col-sm-9">
                                <select class="form-control" id="expenseType" name="expenseType">
                                  <option value="food">Food</option>
                                  <option value="utilities">Utilities</option>
                                  <option value="rent">Rent</option>
                                  <option value="transportation">Transportation</option>
                                  <option value="entertainment">Entertainment</option>
                                </select>
                              </div>
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary" th:id="'saveExpenseEntryButton-' + ${wallet.id}" th:attr="data-wallet-id=${wallet.id}">Save</button>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
  
          </div>
          <div class="button-container"></div>
                <a href="#" th:href="@{/wallet/walletCreationForm}" class="btn btn-primary">Create wallet</a>
        </div>
      </div>
    
    
      <hr>

      <div sec:authorize="isAnonymous()">
        <div class="button-container">
          <a href="#" th:href="@{/login}" class="btn btn-primary">Login</a>
          <a href="#" th:href="@{/registration}" class="btn btn-primary">Register</a>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  
    <script>
      // Event listener for saveIncomeEntryButton
      document.querySelectorAll("[id^='saveIncomeEntryButton-']").forEach(function(button) {
        button.addEventListener("click", function() {
          var walletId = parseInt(this.getAttribute("data-wallet-id"), 10);
          var amount = parseFloat(document.querySelector("#incomeModal-" + walletId + " #incomeAmount").value, 10);
          if (isNaN(amount) || amount <= 0) {
              alert("Please enter a valid positive number for the amount.");
              amountInput.focus();
              return;
          }
          var type = document.querySelector("#incomeModal-" + walletId + " #incomeType").value;
          console.log("Income Amount:", amount);
          console.log("Income Type:", type)
    
          var transaction = {
            walletId: walletId,
            amount: amount,
            type: type
          };
    
          var csrfToken = document.querySelector("meta[name='_csrf']").getAttribute("content");
          var csrfHeader = document.querySelector("meta[name='_csrf_header']").getAttribute("content");
    
          var headers = {};
          headers[csrfHeader] = csrfToken;

          // Check if the application is running on the server or locally
          var isLocal = window.location.hostname === "localhost" || window.location.hostname === "127.0.0.1";

          // Define the base URL
          var baseUrl = isLocal ? "" : window.location.origin + window.location.pathname;
          var contextPath = isLocal ? "" : baseUrl.substring(0, baseUrl.lastIndexOf("/")) + "/";

          // Construct the full URL for saveIncomeTransaction
          var saveIncomeTransactionUrl = contextPath + "saveIncomeTransaction";

          // Use saveIncomeTransactionUrl in your XHR request

    
          var xhr = new XMLHttpRequest();
          xhr.open("POST", saveIncomeTransactionUrl, true);
          xhr.setRequestHeader("Content-Type", "application/json");
          xhr.setRequestHeader(csrfHeader, csrfToken);
          xhr.onreadystatechange = function() {
            if (xhr.readyState === 4) {
              if (xhr.status === 200) {
                $('#incomeModal').modal('hide');
                location.reload();
              } else {
                var error = JSON.parse(xhr.responseText);
                alert("Error: " + error.message);
              }
            }
          };
          xhr.send(JSON.stringify(transaction));
        });
      });
    </script>
    
    <script>
      // Event listener for saveExpenseEntryButton
      document.querySelectorAll("[id^='saveExpenseEntryButton-']").forEach(function(button) {
        button.addEventListener("click", function() {
          var walletId = parseInt(this.getAttribute("data-wallet-id"), 10);
          var amount = parseFloat(document.querySelector("#expenseModal-" + walletId + " #expenseAmount").value, 10);
          var type = document.querySelector("#expenseModal-" + walletId + " #expenseType").value;
          if (isNaN(amount) || amount <= 0) {
              alert("Please enter a valid positive number for the amount.");
              amountInput.focus();
              return;
          }
          console.log("Income Amount:", amount);
          console.log("Income Type:", type)

    
          var transaction = {
            walletId: walletId,
            amount: amount,
            type: type
          };
    
          var csrfToken = document.querySelector("meta[name='_csrf']").getAttribute("content");
          var csrfHeader = document.querySelector("meta[name='_csrf_header']").getAttribute("content");
    
          var headers = {};
          headers[csrfHeader] = csrfToken;

           // Check if the application is running on the server or locally
           var isLocal = window.location.hostname === "localhost" || window.location.hostname === "127.0.0.1";

          // Define the base URL
            var baseUrl = isLocal ? "" : window.location.origin + window.location.pathname;
            var contextPath = isLocal ? "" : baseUrl.substring(0, baseUrl.lastIndexOf("/")) + "/";

            // Construct the full URL for saveIncomeTransaction
            var saveExpenseTransactionUrl = contextPath + "saveExpenseTransaction";

            // Use saveIncomeTransactionUrl in your XHR request

    
          var xhr = new XMLHttpRequest();
          xhr.open("POST", saveExpenseTransactionUrl, true);
          xhr.setRequestHeader("Content-Type", "application/json");
          xhr.setRequestHeader(csrfHeader, csrfToken);
          xhr.onreadystatechange = function() {
            if (xhr.readyState === 4) {
              if (xhr.status === 200) {
                $('#expenseModal').modal('hide');
                location.reload();
              } else {
                var error = JSON.parse(xhr.responseText);
                alert("Error: " + error.message);
              }
            }
          };
          xhr.send(JSON.stringify(transaction));
        });
      });
    </script>

<script>
  // Event listener for deleteWalletButton
  document.querySelectorAll("[id^='deleteWalletButton-']").forEach(function(button) {
      button.addEventListener("click", function() {
          var walletId = parseInt(button.getAttribute("data-wallet-id"), 10); // Extract the wallet ID from the button's data attribute


          var csrfToken = document.querySelector("meta[name='_csrf']").getAttribute("content");
          var csrfHeader = document.querySelector("meta[name='_csrf_header']").getAttribute("content");
    
          var headers = {};
          headers[csrfHeader] = csrfToken;

          // Send an AJAX request to delete the wallet
          var xhr = new XMLHttpRequest();
          xhr.open("DELETE", "wallet/deleteWallet/" + walletId, true);
          xhr.setRequestHeader("Content-Type", "application/json");
          xhr.setRequestHeader(csrfHeader, csrfToken);
          xhr.onreadystatechange = function() {
              if (xhr.readyState === 4) {
                  if (xhr.status === 200) {
                      // Handle success response
                      console.log("Wallet deleted successfully.");
                      location.reload(); // Reload the page after deleting the wallet
                  } else {
                      // Handle error response
                      console.error("Error deleting wallet:", xhr.responseText);
                      alert("Error deleting wallet. Please try again.");
                  }
              }
          };
          xhr.send();
      });
  });
</script>





    
    



  </body>
</html>
