<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/4db3c59fd7.js"
      crossorigin="anonymous"
    ></script>


    <title>Wallet Management</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  </head>
  <body>
    <!-- create navigation bar ( header) -->
    <div th:replace="fragments/navbar :: navbar"></div>    

    <br />
    <br />

    <div class="container">
      <h1>Wallet Manager</i></h1>
      Manage your income and expenses, easily.
      <span th:text="${firstName}"></span>
      <br />
      <br />
      <hr />
      <div class="container">
        <div class="row">
            <!-- Iterate over authenticated user's wallets -->
            <div th:each="wallet : ${authenticatedUserWallets}" class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="${wallet.walletName}"></h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th scope="row">Amount:</th>
                                    <td><span th:text="${wallet.amount}"></span>
                                      <span th:text="${wallet.currency}"></span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Notes:</th>
                                    <td><span th:text="${wallet.notes}"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
        <hr>
     

        <div class="button-container"></div>
        <a href="#" th:href="@{/wallet/walletCreationForm}" class="btn btn-primary">Create wallet</a>
        
      </div>
      <div sec:authorize="isAnonymous()">
        <div class="button-container">
          <a href="#" th:href="@{/login}" class="btn btn-primary">Login</a>
          <a href="#" th:href="@{/registration}" class="btn btn-primary"
            >Register</a
          >
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>
