<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallet Management</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    
</head>
<body>
    <!-- create navigation bar ( header) -->
    <div th:replace="fragments/navbar :: navbar"></div>   
    <br>
    <br>
    <br>
    <div class="container">
        <h1>You have logged out.</h1>
        <p>Thank you for using our services. You have been successfully logged out.</p>
        <hr>
        <p class="mb-0">You can <a href="#" th:href="@{/login}">login</a> again if you wish or return to the <a href="#" th:href="@{/wallet-management/}">front-page.</a></p>
    </div>
</div>
</body>
</html>
