<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <title>Registration</title>
  </head>
  <body>
    <!-- create navigation bar (header) -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar"
            aria-expanded="false"
            aria-controls="navbar"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span> <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a
            class="navbar-brand"
            href="#"
            th:href="@{/}"
            style="font-weight: bold; color: white"
            >Homepage</a
          >
        </div>
      </div>
    </nav>

    <br />
    <br />

    <!-- Create HTML registration form -->

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <br />
          <br />
          <!-- error message -->
          <div
            th:if="${error}"
            class="alert alert-danger"
            th:text="${error}"
          ></div>

          <h1>Registration</h1>

          <form th:action="@{/registration}" method="post" th:object="${user}">
            <div class="form-group">
              <label class="control-label" for="firstName"> First Name </label>
              <input
                id="firstName"
                class="form-control"
                th:field="*{firstName}"
                required
                autofocus="autofocus"
              />
            </div>

            <div class="form-group">
              <label class="control-label" for="lastName"> Last Name </label>
              <input
                id="lastName"
                class="form-control"
                th:field="*{lastName}"
                required
                autofocus="autofocus"
              />
            </div>

            <div class="form-group">
              <label class="control-label" for="email"> Email </label>
              <input
                id="email"
                class="form-control"
                th:field="*{email}"
                required
                autofocus="autofocus"
              />
            </div>

            <div class="form-group">
              <label class="control-label" for="password"> Password </label>
              <input
                id="password"
                class="form-control"
                type="password"
                th:field="*{password}"
                required
                autofocus="autofocus"
              />
              <button
                id="showPassword"
                type="button"
                class="btn btn-sm btn-success"
              >
                Show Password
              </button>
            </div>

            <div class="form-group">
              <label class="control-label" for="confirmPassword">
                Confirm Password
              </label>
              <input
                id="confirmPassword"
                class="form-control"
                type="password"
                th:field="*{confirmPassword}"
                required
                autofocus="autofocus"
              />
            </div>

            <div
              class="form-group"
              style="display: flex; justify-content: space-between"
            >
              <button type="submit" class="btn btn-success">Register</button>
              <span
                >Already registered?
                <a href="/" th:href="@{/login}">Login here</a></span
              >
            </div>
          </form>
        </div>
      </div>
    </div>

    <script>
      const passwordField = document.getElementById("password");
      const showPasswordText = document.getElementById("showPassword");

      showPasswordText.addEventListener("click", function () {
        if (passwordField.type === "password") {
          passwordField.type = "text";
          showPasswordText.textContent = "Hide Password";
          showPasswordText.classList.remove("btn-success");
          showPasswordText.classList.add("btn-danger");
        } else {
          passwordField.type = "password";
          showPasswordText.textContent = "Show Password";
          showPasswordText.classList.remove("btn-danger");
          showPasswordText.classList.add("btn-success");
        }
      });
    </script>
  </body>
</html>
